@use 'helpers' as *;

@layer properties, theme, base, components, utilities, override;

@layer base {
	html {
		font-family: $font-family, sans-serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		background-color: $white-bg;
		scrollbar-gutter: stable;
	}
}

@layer override {
	$paddingWidth: fluid(5, 10);

	.container {
		width: 100%;
		max-width: calc(314px + $paddingWidth);
		margin: 0 auto;
		padding: 0 $paddingWidth;
		@include md {
			max-width: calc(888px + $paddingWidth * 2);
		}
		@include lg {
			max-width: calc(1248px + $paddingWidth * 2);
		}
	}
}

// lg 1440px 1246px
// md 1024px 888px
// sm 375px 314px
