@import "tailwindcss";

@theme {
	--color-*: initial;
	--breakpoint-*: initial;
	--breakpoint-sm: 23.4375rem; /* 375px */
	--breakpoint-md: 64rem; /* 1024px */
	--breakpoint-lg: 90rem; /* 1440px */
}
