@import "tailwindcss";

@layer base {
    body {
        @apply font-poppins leading-normal;
    }

    html {
        @apply scroll-smooth;
        scrollbar-gutter: stable;
    }

    button,
    label {
        @apply cursor-pointer;
    }
}

@import "./theme.css";
@import "./components.css";
