@theme {
    --color-*: initial;
    --color-white: var(--white);
    --color-offwhite: var(--offwhite);
    --color-gray: var(--gray);
    --color-lightgray: var(--lightgray);
    --color-darkgray: var(--darkgray);
    --color-black: var(--black);
    --color-mediumgray: var(--mediumgray);
    --color-secondary: var(--secondary);
    --color-lavender: var(--lavender);
    --color-frost: var(--frost);
    --color-smoke: var(--smoke);
    --color-silver: var(--silver);
    --color-charcoal: var(--charcoal);
    --color-stone: var(--stone);
    --color-jet: var(--jet);
    --color-purewhite: var(--purewhite);
    --color-tealtransparent: var(--tealtransparent);
    --color-lilac: var(--lilac);
    --color-charcoalsemitransparent: var(--charcoalsemitransparent);
    --color-pearl: var(--pearl);
    --color-ash: var(--ash);
    --color-pureBlack: var(--pureBlack);
    --color-snow: var(--snow);
    --color-granite: var(--granite);
    --color-lightgray2: var(--lightgray2);
    --color-almostblack: var(--almostblack);
    --color-gray2: var(--gray2);
    --color-gray3: var(--gray3);
    --color-gray4: var(--gray4);
    --color-darkslate: var(--darkslate);
    --color-dustygray: var(--dustygray);
    --color-violet: var(--violet);
    --color-main: var(--main);
    --color-navy: var(--navy);
    --color-gray5: var(--gray5);
    --color-offwhite2: var(--offwhite2);
    --color-orange: var(--orange);
    --color-gray6: var(--gray6);
    --color-silver2: var(--silver2);
    --color-gray7: var(--gray7);
    --color-night: var(--night);
    --color-ice: var(--ice);
    --color-frost2: var(--frost2);
    --color-deepblue: var(--deepblue);
    --color-lavenderlight: var(--lavenderlight);
    --color-purple2: var(--purple2);
    --color-bluegray: var(--bluegray);
    --color-mint: var(--mint);
    --color-green: var(--green);
    --color-amber: var(--amber);
    --color-red: var(--red);
    --color-lightsteel: var(--lightsteel);
    --color-gunmetal: var(--gunmetal);
    --color-slate: var(--slate);
    --color-silver3: var(--silver3);
    --color-frost3: var(--frost3);
    --color-frost4: var(--frost4);
    --color-peach: var(--peach);
    --color-palepink: var(--palepink);
    --color-lilaclight: var(--lilaclight);
    --color-darkpurple: var(--darkpurple);
    --color-silver4: var(--silver4);
    --color-gray8: var(--gray8);
    --color-pearl2: var(--pearl2);
    --color-slategray: var(--slategray);
    --color-orange2: var(--orange2);
    --color-peachlight: var(--peachlight);
    --color-red2: var(--red2);
    --color-cream: var(--cream);
    --color-gold: var(--gold);
    --color-green2: var(--green2);
    --color-green3: var(--green3);
    --color-frost5: var(--frost5);
    --color-steelblue: var(--steelblue);
    --color-lavender2: var(--lavender2);
    --color-brightblue: var(--brightblue);
    --color-navy2: var(--navy2);
    --color-blue: var(--blue);
    --color-brown: var(--brown);
    --color-coral: var(--coral);
    --color-apricot: var(--apricot);
    --color-tangerine: var(--tangerine);
    --color-red3: var(--red3);
    --color-yellow: var(--yellow);
    --color-gold2: var(--gold2);
    --color-orange3: var(--orange3);
    --color-amber2: var(--amber2);
    --color-brown2: var(--brown2);
    --color-tan: var(--tan);
    --color-pink: var(--pink);
    --color-orange4: var(--orange4);
    --color-yellow2: var(--yellow2);
    --color-red4: var(--red4);
    --color-redtransparent: var(--redtransparent);
    --color-orange5: var(--orange5);
    --color-salmon: var(--salmon);
    --color-gold3: var(--gold3);
    --color-yellow3: var(--yellow3);
    --color-amber3: var(--amber3);
    --color-gold4: var(--gold4);
    --color-red5: var(--red5);
    --color-orange6: var(--orange6);
    --color-copper: var(--copper);
    --color-green4: var(--green4);
    --color-second: var(--second);
    --color-violet2: var(--violet2);
    --color-purple3: var(--purple3);
    --color-gray9: var(--gray9);
    --color-almostblack2: var(--almostblack2);
    --color-bluegray2: var(--bluegray2);
    --color-paleblue: var(--paleblue);
    --color-silver5: var(--silver5);
    --color-lavender3: var(--lavender3);
    --color-violet3: var(--violet3);
    --color-gray10: var(--gray10);
    --color-frost6: var(--frost6);
    --color-black2: var(--black2);
    --color-bluegray3: var(--bluegray3);
    --color-green5: var(--green5);
    --color-darkgreen: var(--darkgreen);
    --color-gray11: var(--gray11);
    --color-lightpurple: var(--lightpurple);
    --color-violet4: var(--violet4);
    --color-gray12: var(--gray12);
    --color-gray13: var(--gray13);
    --color-gray14: var(--gray14);
    --color-frost7: var(--frost7);
    --color-gray15: var(--gray15);
    --color-silver6: var(--silver6);
    --color-red6: var(--red6);
    --color-gray16: var(--gray16);
    --color-gray17: var(--gray17);
    --color-blacktransparent: var(--blacktransparent);
    --color-asp: var(--asp);
    --color-dark: var(--dark);
    --color-grayback: var(--grayback);
    --color-purple: var(--purple);

    --font-inter: "Inter", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    --breakpoint-*: initial;
    --breakpoint-sm: 375px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
}
