@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

html {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;

    background-color: $color-background;
}

$paddingWidth: calc(fluid(5, 10) * 2);

.container {
    margin: 0 auto;
    padding: 0 fluid(5, 10);
    max-width: calc(314px + $paddingWidth);
    width: 100%;
    @include md {
        max-width: calc(886px + $paddingWidth);
    }
    @include lg {
        max-width: calc(1246px + $paddingWidth);
    }
}

// lg 1440px 1246px
// md 1024px 886px
// sm 375px 314px
