@use "/src/sass/helpers/variables" as *;
@use "/src/sass/helpers/media" as *;
@use "sass:math";

@function fluid($min, $max) {
	$minViewport: math.div($sm, 1px);
	$maxViewport: math.div($lg, 1px);

	$slope: math.div(($max - $min), ($maxViewport - $minViewport));
	$yAxisIntersection: -$minViewport * $slope + $min;

	@return clamp(#{$min}px, calc(#{$yAxisIntersection}px + #{$slope * 100}vw), #{$max}px);
}

@mixin text-fluid($min, $max) {
	font-size: fluid($min, $max);
}

@mixin hide {
	opacity: 0;
	visibility: hidden;
}

@mixin show {
	opacity: 1;
	visibility: visible;
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin abs-x {
	position: absolute;
	left: 50%;
	translate: -50%;
}

@mixin abs-y {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
}

@mixin visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin hover($hasActiveEffectOnMobile: true) {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}

	@if ($hasActiveEffectOnMobile) {
		@media (any-hover: none) {
			&:active {
				@content;
			}
		}
	}
}

@mixin hover-opacity {
	@include hover {
		opacity: 0.7;
		transition: opacity 0.3s ease-out;
	}
}

@mixin section-padding-block {
	padding-block: $section-padding-block;
	@include md {
		padding-block: #{$section-padding-block * 2}
	}
	@include lg {
		padding-block: #{$section-padding-block * 2 + 15}
	}
}
