$font-family: "Poppins", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Manrope", sans-serif;
$font3: "Roboto", sans-serif;
$font4: "Public Sans", sans-serif;
$font5: "Quicksand", sans-serif;
$font6: "Plus Jakarta Sans", sans-serif;

$main: #6c5fbc;
$gray-nav: #606060;
$white: #ffffff;
$metal-text: #323142;
$white-bg: #f9f9f9;
$gray-text: #8e97a6;
$charcoal-text: #323142;
$carbon-text: #18181b;
$mist-text: #acadb9;
$red-accent: #fb471d;
$golden-text: #daa31a;
$golden-accent: #f7edd0;
$outer-text: #334155;
$gray-divider: #cbcbcb;
$dark-text: #201f1f;
$silver-divider: #c5c5c5;
$purple-bg: #5c4eae;
$matter-text: #cbd5e1;
$lavender-text: #c5bfed;
$white-bg-card: #f4f4f6;
$slate-text: #1a202c;
$dim-text: #676767;
$blush-accent: #f7c5ba;
$green-accent: #309d5b;
$jade-text: #33ac64;
$gunmetal-text: #323142;
$steel-text: #a0aec0;

$color-8dM1w: #efefef;
$color-lFdwV: #70798b;
$color-jIm96: #081420;
$color-A0O7A: #707070;
$color-brgJc: #dbd9ee;
$color-S0kE3: #f3f5f6;
$color-g3sEu: #f5f5f5;
$color-VhGj4: #cfcfd3;
$color-ByNHK: #908f8f;
$color-ppPyi: #282828;
$color-MuQmb: #005a64;
$color-W23Ib: #d3cfeb;
$color-nPmcU: #323142;
$color-nvBQG: #f1f1f1;
$color-CVncj: #c2c3cb;
$color-V8EJC: #000000;
$color-uMIci: #eeeeee;
$color-HWnQx: #a2a3a6;
$color-uFie2: #b6b6b6;
$color-dqPaX: #252525;
$color-WrqB5: #a6a6a6;
$color-xfAg5: #8d8d8d;
$color-U1wuu: #adadad;
$color-rMlwM: #605e5e;
$color-tcp3C: #b7b4b4;
$color-0xbuC: #1c186c;
$color-PUR2a: #201d67;
$color-O3vYE: #878787;
$color-9KxTn: #f7f8fa;
$color-29YRD: #f59e0b;
$color-B46FK: #636363;
$color-8JF21: #dadada;
$color-pQpRg: #5e5d5d;
$color-uTYXd: #030314;
$color-Ibfjl: #edf2f7;
$color-5FJgw: #fafafa;
$color-oM5ha: #f4f0ff;
$color-KlQyf: #936dff;
$color-4fDbA: #f2fdf6;
$color-y1g0y: #22c55e;
$color-sQjd0: #fbad18;
$color-OBMo7: #f1534e;
$color-wuTKU: #272e35;
$color-ZCExl: #6e757c;
$color-iByNC: #c2c2c2;
$color-SIzrf: #f7f7f7;
$color-C52ne: #f8f8f8;
$color-fJN7O: #fff3eb;
$color-rPN2C: #f6f3f5;
$color-nq6Ba: #f8f6f8;
$color-QRzP0: #200e32;
$color-RbZyT: #c4c4c4;
$color-iAMUg: #979797;
$color-Zey6C: #ff7a28;
$color-nubEi: #ededed;
$color-eH8Vy: #aaabba;
$color-Wg788: #bbb6d7;
$color-umXFC: #5a85ff;
$color-3MFjR: #002073;
$color-1eOXB: #507be1;
$color-NCtUk: #4c2f1b;
$color-ldodk: #ff5c68;
$color-cTxj3: #ffcd8a;
$color-gNYYy: #ffbb71;
$color-Cj8QG: #f93d53;
$color-gSmXP: #fff383;
$color-dXSjG: #f6e259;
$color-IjrUk: #edb66b;
$color-UOcbc: #e28b14;
$color-yYQSd: #86522c;
$color-H3U9X: #e3a358;
$color-IhPYH: #db79ad;
$color-itxhC: #f6b173;
$color-b81C9: #f7e774;
$color-gcFtW: #ec6a69;
$color-9DICg: #fb471d80;
$color-fHwWG: #f4a360;
$color-CfxSF: #ff6c4a;
$color-fkxbz: #f9af38;
$color-P6TJ8: #ffde8a;
$color-FxDOA: #d69900;
$color-FxKmD: #f2c05a;
$color-Aja7D: #ff5c5c;
$color-D4eO4: #ffb07b;
$color-xJzZN: #e2803d;
$color-aIKDe: #3de25c;
$color-qCcPt: #151254;
$color-UFIwb: #7c6fcd;
$color-ZKg5l: #685bb8;
$color-W4wCm: #718096;
$color-wSc6Y: #828282;
$color-Sg8HT: #e7e7e7eb;
$color-fXFd7: #151515;
$color-6t741: #aa9cff;
$color-efYNi: #a597ff;
$color-pfUG0: #eaeaea;
$color-4Hjbu: #999999;
$color-0gAm8: #818181;
$color-d49fY: #f4f4f4;
$color-jTy4Y: #9b9b9b;
$color-6RG9u: #cecece;
$color-3JiQZ: #eb3f5e;
$color-L6S6b: #969696;
$color-CWqYx: #686868;
$color-p9xSj: #444444;
$color-LJXgV: #a596ff;
$color-PreRT: #665ab5;
$color-thbGG: #00b67a;
$color-u2PZW: #005128;
$color-z44by: #201f1f33;
