$font-family: "Poppins", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Manrope", sans-serif;
$font3: "Roboto", sans-serif;
$font4: "Public Sans", sans-serif;
$font5: "Quicksand", sans-serif;
$font6: "Plus Jakarta Sans", sans-serif;

$main: #6c5fbc;
$gray-nav: #606060;
$white: #fff;
$white-bg: #f9f9f9;
$gray-text: #8e97a6;
$carbon-text: #18181b;
$mist-text: #acadb9;
$red-accent: #fb471d;
$golden-text: #daa31a;
$golden-accent: #f7edd0;
$outer-text: #334155;
$gray-divider: #cbcbcb;
$dark-text: #201f1f;
$silver-divider: #c5c5c5;
$purple-bg: #5c4eae;
$matter-text: #cbd5e1;
$lavender-text: #c5bfed;
$white-bg-card: #f4f4f6;
$slate-text: #1a202c;
$dim-text: #676767;
$blush-accent: #f7c5ba;
$green-accent: #309d5b;
$jade-text: #33ac64;
$gunmetal-text: #323142;
$steel-text: #a0aec0;
$color-8dm1w: #efefef;
$color-lfdwv: #70798b;
$color-brgjc: #dbd9ee;
$color-s0ke3: #f3f5f6;
$color-g3seu: #f5f5f5;
$color-vhgj4: #cfcfd3;
$color-bynhk: #908f8f;
$color-pppyi: #282828;
$color-muqmb: #005a6459;
$color-w23ib: #d3cfeb;
$color-npmcu: #32314259;
$color-nvbqg: #f1f1f1;
$color-cvncj: #c2c3cb;
$color-v8ejc: #000;
$color-umici: #eee;
$color-hwnqx: #a2a3a6;
$color-ufie2: #b6b6b6;
$color-dqpax: #252525;
$color-wrqb5: #a6a6a6;
$color-xfag5: #8d8d8d;
$color-u1wuu: #adadad;
$color-rmlwm: #605e5e;
$color-tcp3c: #b7b4b4;
$color-o3vye: #878787;
$color-9kxtn: #f7f8fa;
$color-29yrd: #f59e0b;
$color-b46fk: #636363;
$color-8jf21: #dadada;
$color-pqprg: #5e5d5d;
$color-utyxd: #030314;
$color-ibfjl: #edf2f7;
$color-5fjgw: #fafafa;
$color-om5ha: #f4f0ff;
$color-klqyf: #936dff;
$color-4fdba: #f2fdf6;
$color-y1g0y: #22c55e;
$color-sqjd0: #fbad18;
$color-obmo7: #f1534e;
$color-wutku: #272e35;
$color-zcexl: #6e757c;
$color-ibync: #c2c2c2;
$color-sizrf: #f7f7f7;
$color-c52ne: #f8f8f8;
$color-fjn7o: #fff3eb;
$color-rpn2c: #f6f3f5;
$color-nq6ba: #f8f6f8;
$color-qrzp0: #200e32;
$color-rbzyt: #c4c4c4;
$color-iamug: #979797;
$color-zey6c: #ff7a28;
$color-nubei: #ededed;
$color-eh8vy: #aaabba;
$color-wg788: #bbb6d7;
$color-umxfc: #5a85ff;
$color-3mfjr: #002073;
$color-1eoxb: #507be1;
$color-ldodk: #ff5c68;
$color-ctxj3: #ffcd8a;
$color-gnyyy: #ffbb71;
$color-cj8qg: #f93d53;
$color-gsmxp: #fff383;
$color-dxsjg: #f6e259;
$color-ijruk: #edb66b;
$color-uocbc: #e28b14;
$color-yyqsd: #86522c;
$color-h3u9x: #e3a358;
$color-ihpyh: #db79ad;
$color-itxhc: #f6b173;
$color-b81c9: #f7e774;
$color-gcftw: #ec6a69;
$color-9dicg: #fb471d80;
$color-fhwwg: #f4a360;
$color-cfxsf: #ff6c4a;
$color-fkxbz: #f9af38;
$color-p6tj8: #ffde8a;
$color-fxdoa: #d69900;
$color-fxkmd: #f2c05a;
$color-aja7d: #ff5c5c;
$color-d4eo4: #ffb07b;
$color-xjzzn: #e2803d;
$color-aikde: #3de25c;
$color-ufiwb: #7c6fcd;
$color-zkg5l: #685bb8;
$color-w4wcm: #718096;
$color-wsc6y: #828282;
$color-sg8ht: #e7e7e7eb;
$color-fxfd7: #151515;
$color-6t741: #aa9cff;
$color-efyni: #a597ff;
$color-pfug0: #eaeaea;
$color-4hjbu: #999;
$color-0gam8: #818181;
$color-d49fy: #f4f4f4;
$color-jty4y: #9b9b9b;
$color-6rg9u: #cecece;
$color-3jiqz: #eb3f5e;
$color-l6s6b: #969696;
$color-cwqyx: #686868;
$color-p9xsj: #444;
$color-ljxgv: #a596ff;
$color-prert: #665ab5;
$color-thbgg: #00b67a;
$color-u2pzw: #005128;
$color-z44by: #201f1f33;

$section-padding-block: 25px;
$border-button: 1px solid $main;
$bottom-radius: 13px;