$color-divider: #cbcbcb; // Цвет разделителя
$color-header-nav: #606060; // Цвет текста навигации
$color-header-close: #282828; // Цвет линий крестика закрытия
$color-background: #f9f9f9; // Фоновый цвет html
$color-text-primary: #000000; // Основной текст (пример)
$color-text-secondary: #333333; // Второстепенный текст (пример)
$color-border: #e5e5e5; // Цвет границ (пример)
$color-accent: #3b82f6; // Акцентный цвет (пример)
$purple: #6c5fbc;
$color-hero-subtitle: #201f1f;
$color-hero-highlight: #5c4eae;
$color-hero-text: #676767;
$color-hero-users: #334155;
$color-hero-top-bg: #ffffff;
$color-hero-top-title: #323142;
$color-hero-top-end: #acadb9;
$color-hero-bottom-border: #edf2f7;
$color-hero-bottom-bg: #ffffff;
$color-hero-plate-gradient-start: #6c5fbc;
$color-hero-plate-gradient-end: #5144a0;
