$sm: 480px;
$md: 1024px;
$lg: 1440px;

@mixin sm {
    @media (width >= $sm) {
        @content;
    }
}

@mixin md {
    @media (width >= $md) {
        @content;
    }
}

@mixin lg {
    @media (width >= $lg) {
        @content;
    }
}
