:root {
    --white: #f9f9f9ff;
    --offwhite: #efefefff;
    --gray: #70798bff;
    --lightgray: #cbcbcbff;
    --darkgray: #606060ff;
    --black: #081420ff;
    --mediumgray: #707070ff;
    --secondary: #6c5fbcff;
    --lavender: #dbd9eeff;
    --frost: #f3f5f6ff;
    --smoke: #f5f5f5ff;
    --silver: #cfcfd3ff;
    --charcoal: #323142ff;
    --stone: #908f8fff;
    --jet: #282828ff;
    --purewhite: #ffffffff;
    --tealtransparent: #005a6459;
    --lilac: #d3cfebff;
    --charcoalsemitransparent: #32314259;
    --pearl: #f1f1f1ff;
    --ash: #c2c3cbff;
    --pureBlack: #000000ff;
    --snow: #eeeeeeff;
    --granite: #a2a3a6ff;
    --lightgray2: #b6b6b6ff;
    --almostblack: #252525ff;
    --gray2: #a6a6a6ff;
    --gray3: #8d8d8dff;
    --gray4: #adadadff;
    --darkslate: #605e5eff;
    --dustygray: #b7b4b4ff;
    --violet: #5c4eaeff;
    --main: #1c186cff;
    --navy: #201d67ff;
    --gray5: #878787ff;
    --offwhite2: #f7f8faff;
    --orange: #f59e0bff;
    --gray6: #636363ff;
    --silver2: #dadadaff;
    --gray7: #5e5d5dff;
    --night: #030314ff;
    --ice: #edf2f7ff;
    --frost2: #fafafaff;
    --deepblue: #1a202cff;
    --lavenderlight: #f4f0ffff;
    --purple2: #936dffff;
    --bluegray: #a0aec0ff;
    --mint: #f2fdf6ff;
    --green: #22c55eff;
    --amber: #fbad18ff;
    --red: #f1534eff;
    --lightsteel: #acadb9ff;
    --gunmetal: #272e35ff;
    --slate: #6e757cff;
    --silver3: #c2c2c2ff;
    --frost3: #f7f7f7ff;
    --frost4: #f8f8f8ff;
    --peach: #fff3ebff;
    --palepink: #f6f3f5ff;
    --lilaclight: #f8f6f8ff;
    --darkpurple: #200e32ff;
    --silver4: #c4c4c4ff;
    --gray8: #979797ff;
    --pearl2: #f4f4f6ff;
    --slategray: #8e97a6ff;
    --orange2: #ff7a28ff;
    --peachlight: #f7c5baff;
    --red2: #fb471dff;
    --cream: #f7edd0ff;
    --gold: #daa31aff;
    --green2: #33ac64ff;
    --green3: #309d5bff;
    --frost5: #edededff;
    --steelblue: #aaabbaff;
    --lavender2: #bbb6d7ff;
    --brightblue: #5a85ffff;
    --navy2: #002073ff;
    --blue: #507be1ff;
    --brown: #4c2f1bff;
    --coral: #ff5c68ff;
    --apricot: #ffcd8aff;
    --tangerine: #ffbb71ff;
    --red3: #f93d53ff;
    --yellow: #fff383ff;
    --gold2: #f6e259ff;
    --orange3: #edb66bff;
    --amber2: #e28b14ff;
    --brown2: #86522cff;
    --tan: #e3a358ff;
    --pink: #db79adff;
    --orange4: #f6b173ff;
    --yellow2: #f7e774ff;
    --red4: #ec6a69ff;
    --redtransparent: #fb471d80;
    --orange5: #f4a360ff;
    --salmon: #ff6c4aff;
    --gold3: #f9af38ff;
    --yellow3: #ffde8aff;
    --amber3: #d69900ff;
    --gold4: #f2c05aff;
    --red5: #ff5c5cff;
    --orange6: #ffb07bff;
    --copper: #e2803dff;
    --green4: #3de25cff;
    --second: #151254ff;
    --violet2: #7c6fcdff;
    --purple3: #685bb8ff;
    --gray9: #676767ff;
    --almostblack2: #201f1fff;
    --bluegray2: #a596ffff;
    --paleblue: #cbd5e1ff;
    --silver5: #c5c5c5ff;
    --lavender3: #c5bfedff;
    --violet3: #665ab5ff;
    --gray10: #828282ff;
    --frost6: #e7e7e7eb;
    --black2: #151515ff;
    --bluegray3: #334155ff;
    --green5: #00b67aff;
    --darkgreen: #005128ff;
    --gray11: #718096ff;
    --lightpurple: #aa9cffff;
    --violet4: #a597ffff;
    --gray12: #eaeaeaff;
    --gray13: #999999ff;
    --gray14: #818181ff;
    --frost7: #f4f4f4ff;
    --gray15: #9b9b9bff;
    --silver6: #cececeff;
    --red6: #eb3f5eff;
    --gray16: #969696ff;
    --gray17: #686868ff;
    --blacktransparent: #201f1f33;
    --asp: #3e3e3eff;
    --dark: #18181bff;
    --grayback: #d3d2d2ff;
    --purple: #6155aeff;
}
