@use "../helpers" as *;

@layer components {
	.button {
		font-size: 13px;
		font-weight: 500;
		text-transform: capitalize;
		color: $white-bg;
		border-radius: $bottom-radius;
		background-color: $main;
		padding-block: 12px;
		padding-inline: 20px;

		@include hover-opacity;
		@include lg {
			font-size: 16px;
			border-radius: 18px;
			padding-block: 18px;
			padding-inline: 27px;
		}

		&--white {
			color: $main;
			border: var(--border-button);
			background-color: $white-bg;
		}
	}

}
