@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.button {
    padding: 10px 22px;
    height: 47px;
    border-radius: 12px;
    font-family: $font-family;
    font-weight: 500;
    color: $white;
    text-transform: capitalize;
    background-color: $main;
    border: 2px solid $main;
    &:active {
        background-color: $white;
        color: $main;
    }
    @include lg {
        font-size: 16px;
        height: 59px;
        padding: 10px 27px;
    }
    &--white {
        color: $main;
        background-color: $white;
        &:active {
            background-color: $main;
            color: $white;
        }
    }
}
