@use '../helpers' as *;

@layer components {
	.card {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border: var(--border-card);
		border-radius: var(--radius-card);
		background-color: $white;
		background-repeat: no-repeat;
		background-size: contain;
		box-shadow: var(--box-shadow-card);

		&[data-large] {
			gap: 8px;
			padding-inline: 27px;
			padding-block: 140px 14px;
			@include md {
				padding-block: 125px 14px;
			}
			@include lg {
				padding-block: 180px 14px;
			}
		}

		&[data-small] {
			position: relative;
			background-position: top 16px center;
			background-size: 118px;
			gap: 4px;
			padding-block: 132px 20px;
			padding-inline: 15px;
			@include md {
				padding-block: 132px 20px;
				padding-inline: 13px;
			}
			@include lg {
				background-position: top 25px center;
				background-size: 155px;
				padding-inline: 15px;
				padding-block: 186px 20px;
			}
		}

		&[data-item="1"] {
			background-image: url('@m/restaurants/restaurant__img-1.png');
		}

		&[data-item="2"] {
			background-image: url('@m/restaurants/restaurant__img-2.png');
		}

		&[data-plate='1'] {
			background-image: url('@m/dishes/dishes__img-4.png');
		}

		&[data-plate='2'] {
			background-image: url('@m/dishes/dishes__img-2.png');
		}

		&[data-plate='3'] {
			background-image: url('@m/dishes/dishes__img-3.png');
		}


		&__highlight {
			font-size: 12px;
			font-weight: 400;
			margin-top: 8px;
			padding: 1px 7px 1px 7px;
			color: $golden-text;
			border-radius: 4px;
			background-color: $golden-accent;

			&[data-trending] {
				color: $red-accent;
				background-color: $blush-accent;
			}

			&[data-healhy] {
				color: $golden-text;
				background-color: $golden-accent;
			}

			&[data-supreme] {
				color: $green-accent;
				background-color: rgba($jade-text, 0.2);
			}
		}

		&__subtitle {
			font-size: 20px;
			font-weight: 600;
			flex-basis: 100%;
			color: $gunmetal-text;

			.card[data-small] & {
				font-size: 15px;
				@include lg {
					font-size: 23px;
				}
			}

			@include lg {
				font-size: 25px;
			}
		}

		&__time {
			font-family: $third-family;
			font-size: 15px;
			font-weight: 400;
			color: $gray-text;
			@include lg {
				font-size: 20px;
			}
		}

		&__star {
			@include lg {
				width: 24px;
			}
		}

		&__rating {
			font-family: $third-family;
			font-size: 15px;
			color: $gray-text;
			@include lg {
				font-size: 20px;
			}
		}

		&__price {
			font-family: $third-family;
			font-weight: 700;
			color: $gunmetal-text;

			&-cent {
				font-size: 12px;
				color: $gray-text;
				@include lg {
					font-size: 18px;
				}
			}

			@include lg {
				font-size: 25px;
			}
		}

		&__add {
			margin-left: auto;
			@include lg {
				width: 35px;
			}
		}

		&__bookmark {
			margin-top: -18px;
			margin-left: auto;

			@include lg {
				width: 40px;
			}
		}

		&__favorite {
			position: absolute;
			top: 16px;
			right: 10px;
			@include md {
				top: 17px;
				right: 15px;
			}
			@include lg {
				top: 21px;
				right: 24px;
				width: 21px;
			}
		}
	}
}