@use '../helpers' as *;

@layer components {
	.carousel {
		margin-top: 55px;
		border-radius: var(--bottom-radius);
		@include md {
			height: 320px;
		}
		@include lg {
			height: 400px;
		}

		&__item {
			@include em-font;
			display: grid;
			border: var(--border-card);
			border-radius: var(--bottom-radius);
			background-color: $white;
			box-shadow: var(--box-shadow-card);
			grid-template-columns: auto 1fr auto;
			grid-template-areas:
		"logo 	title 			decor"
		"logo 	annotation 	decor"
		"text 	text 				text"
		"rating rating 			rating";
			padding-inline: 2.5em;
			padding-block: 2.2em;
			gap: 2.2em 1.4em;
			@include md {
				font-size: 12px;

				.swiper-slide:not(.swiper-slide-active) & {
					font-size: 9px;
				}
			}

			@include lg {
				font-size: 16px;

				.swiper-slide:not(.swiper-slide-active) & {
					font-size: 12px;
				}
			}

			&-title {
				font-size: 1.2em;
				font-weight: 500;
				color: $color-utyxd;
				grid-area: title;
			}

			&-annotation {
				font-family: $font5;
				font-size: 0.9em;
				font-weight: 500;
				margin-top: -2.5em;
				color: $color-pqprg;
				grid-area: annotation;
			}

			&-text {
				font-size: 1em;
				font-style: italic;
				color: $color-b46fk;
				grid-area: text;
			}

			&-logo {
				width: 3.5em;
				grid-area: logo;
			}

			&-decoration {
				width: 3.5em;
				grid-area: decor;
			}

			&-rating {
				width: 8.2em;
				grid-area: rating;
			}
		}

		&__scrollbar {
			position: relative;
			z-index: 100;
			height: 5px;
			border-radius: 3px;
			background-color: rgba($main, 0.2);
			cursor: grab;
			margin-top: 50px;
			@include md {
				margin-top: 290px;
				height: 8px;
				border-radius: 4px;
			}
			@include lg {
				margin-top: 380px;
				border-radius: 6px;
				height: 11px;
			}
		}

		&__drag {
			height: 5px;
			border-radius: 3px;
			background-color: $main;
			@include md {
				height: 8px;
				border-radius: 4px;
			}
			@include lg {
				border-radius: 6px;
				height: 11px;
			}
		}

	}
}

