@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.dishes {
    &__title {
        width: 127px;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        color: $gunmetal-text;
        margin: 0 auto;
        span {
            color: $main;
        }
        @include md {
            width: auto;
            font-size: 31px;
        }
        @include lg {
            font-size: 45px;
        }
    }
    &__view-all {
        font-family: $font-family;
        font-weight: 500;
        font-size: 20px;
        line-height: 2.25921;
        letter-spacing: -0.01em;
        color: $mist-text;
    }
}
