@use '../helpers' as *;

@layer components {
	.divider {
		width: 100%;
		height: 1px;
		background-color: rgba($gray-divider, 0.2);

		&--section {
			margin-top: 50px;
			@include md {
				margin-top: 70px;
			}
			@include lg {
				margin-top: 100px;
			}
		}
	}
}
