@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/media' as *;

@layer components {
	.features {
		background-color: $purple-bg;
		background-image: url("/src/img/features/features__svg-2.svg"),
		url("/src/img/features/features__svg-1.svg");
		background-position: top left, bottom right;
		background-repeat: no-repeat;
		padding-block: 100px;
		display: grid;
		gap: 60px;
		justify-items: center;
		grid-template-columns: 250px;
		justify-content: center;
		@include md {
			background-size: contain;
			background-image: url("/src/img/features/features__svg-md-2.svg"),
			url("/src/img/features/features__svg-md-1.svg");
			padding-block: 35px;
		}
		@include lg {
			background-image: url("/src/img/features/features__svg-lg-2.svg"),
			url("/src/img/features/features__svg-lg-1.svg");
			padding-block: 45px;
		}

		@include md {
			grid-template-columns: unset;
			grid-auto-flow: column;
			.divider {
				width: 1px;
				height: auto;
			}
		}

		&__wrap {
			text-align: center;
			max-width: 210px;
		}

		&__title {
			font-family: $font4;
			font-weight: 700;
			font-size: 43px;
			color: $white;
			margin-bottom: 10px;
			@include lg {
				margin-bottom: 20px;
			}
		}

		&__text {
			font-family: $second-family;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			color: $lavender-text;
		}

	}
}