@use '../helpers' as *;

@layer components {

}

.footer {
	padding-block: 55px 36px;
	@include md {
		padding-block: 68px 57px;
	}
	@include lg {
		padding-block: 96px 81px;
	}
}

.footer__container {
	display: grid;
	align-content: space-between;
	align-items: center;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"logo 			twitter"
		"nav 				nav"
		"divider 		divider"
		"copyright 	copyright";
	@include md {
		grid-template-areas:
		"logo 			nav"
		"divider 		divider"
		"copyright 	twitter"
	}
}

.footer__logo {
	grid-area: logo;
	@include md {
		width: 107px;
	}
	@include lg {
		width: 150px;
	}
}

.footer__twitter {
	justify-self: end;
	grid-area: twitter;
	@include md {
		align-self: end;
	}
	@include lg {
		width: 21px;
	}
}

.footer__nav {
	font-family: $second-family;
	font-size: 14px;
	font-weight: 500;
	display: grid;
	margin-top: 53px;
	text-transform: uppercase;
	color: $gray-nav;
	gap: 30px 0;
	grid-area: nav;
	@include md {
		font-size: 12px;
		margin-top: 0;
		grid-template-columns: repeat(4, auto);
		gap: 0 50px;

	}
	@include lg {
		font-size: 17px;
		gap: 0 70px;
	}
}

.footer__link {
	@include hover {
		@include hover-opacity;
	}
}

.footer__divider {
	margin-top: 32px;
	grid-area: divider;
	@include md {
		margin-top: 20px;
	}
	@include lg {
		margin-top: 28px;
	}
}

.footer__copyright {
	font-family: $second-family;
	font-size: 13px;
	font-weight: 500;
	margin-top: 26px;
	color: $color-lfdwv;
	grid-area: copyright;
	justify-self: center;
	@include md {
		font-size: 12px;
		margin-top: 40px;
		justify-self: start;
	}
	@include lg {
		font-size: 17px;
		margin-top: 57px;
	}
}
