@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.header {
    font-family: Inter;
    text-transform: capitalize;
    color: $color-header-nav;
    &__logo {
        @include md {
            width: 80px;
        }
        @include lg {
            width: 110px;
        }
    }

    &__nav-item {
        font-weight: 500;
        font-size: 13px;

        @include hover {
            opacity: 0.7;
            transition: opacity 0.25s ease-out;
        }

        @include lg {
            font-size: 18px;
        }
    }

    &__login {
        font-weight: 700;
        font-size: 13px;
        @include lg {
            font-size: 18px;
        }
    }

    &__close {
        &-item {
            width: 100%;
            height: 2px;
            background-color: $color-header-close;
            border-radius: 2px;
            transition: all 0.3s ease-out;
        }

        &--top {
            position: absolute;
            top: 0;
            &[active] {
                @include abs-center;
                transform: rotate(45deg);
            }
        }

        &--mid {
            @include abs-center;
            &[active] {
                @include hide;
            }
        }

        &--bottom {
            position: absolute;
            bottom: 0;
            &[active] {
                @include abs-center;
                transform: rotate(-45deg);
            }
        }
    }
    &__button {
        width: 86px;
        height: 45px;
        border-radius: 18px;
        background-color: $purple;
        padding: 5px 10px;
        color: $color-background;
        font-weight: 700;
        font-size: 13px;
        @include lg {
            font-size: 18px;
            width: 122px;
            height: 64px;
        }
    }
}
