@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *; // Подключаем переменные

.header {
    font-family: Inter;
    text-transform: capitalize;
    color: $color-header-nav;
    z-index: 1;

    &__logo {
        @include md {
            width: 80px;
        }
        @include lg {
            width: 110px;
        }
    }

    &__nav {
        position: absolute;
        right: 0;
        top: 0;
        width: 60vw;
        height: 100vh;
        padding-top: 40px;
        padding-left: 30px;
        background-color: $color-background;
        transform: translate(100%, 0);
        transition: transform 0.3s ease-out;

        &[active] {
            transform: translate(0, 0);
        }

        @include md {
            position: static;
            padding-top: 0;
            width: unset;
            background-color: unset;
            transform: unset;
            height: unset;
            padding-left: unset;
        }

        &-item {
            font-weight: 500;
            font-size: 32px;

            @include md {
                font-size: 13px;
            }

            @include lg {
                font-size: 18px;
            }

            @include hover-opacity;
        }
    }

    &__login {
        font-weight: 700;
        font-size: 13px;

        @include lg {
            font-size: 18px;
        }

        @include hover-opacity;
    }

    &__close {
        position: relative;

        &-item {
            width: 100%;
            height: 2px;
            background-color: $color-header-close;
            border-radius: 2px;
            transition: all 0.3s ease-out;
            position: absolute;
            left: 0;
        }

        &--top {
            top: 0;
        }

        &--mid {
            top: 50%;
            transform: translateY(-50%);
        }

        &--bottom {
            bottom: 0;
        }

        &[active] {
            .header__close--top {
                @include abs-center;
                transform: rotate(45deg);
            }

            .header__close--mid {
                @include hide;
            }

            .header__close--bottom {
                @include abs-center;
                transform: rotate(-45deg);
            }
        }
    }

    &__button {
        width: 86px;
        height: 45px;
        border-radius: 18px;
        background-color: $purple;
        padding: 5px 10px;
        color: $color-background;
        font-weight: 700;
        font-size: 13px;

        @include lg {
            font-size: 18px;
            width: 122px;
            height: 64px;
        }

        @include hover-opacity;
    }
}
