@use '../helpers' as *;

@layer components {
	.header {
		font-family: $second-family;
		font-weight: 500;
		margin-top: 20px;
		text-transform: capitalize;
		color: $gray-nav;
		@include md {
			font-size: 12px;
		}
		@include lg {
			font-size: 17px;
			margin-top: 48px;
		}

		&__container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 35px;
			@include lg {
				gap: 25px 100px;
			}
			gap: 20px 70px;
		}

		&__logo {
			@include md {
				width: 80px;
			}
			@include lg {
				width: unset;
			}
		}

		&__container {
			@include md {
				gap: 20px 50px;
			}
		}

		&__nav {

			@include mobile-only {
				font-size: 24px;
				position: fixed;
				top: 0;
				right: 0;
				display: grid;
				width: 60vw;
				padding: 120px;
				transition-duration: 0.4s;
				transition-property: translate;
				background-color: $white-bg;
				gap: 30px;
				translate: 100%;
				&[data-active] {
					translate: 0;
				}
			}
			@include md {
				display: flex;
				align-items: center;
				flex-grow: 1;
				justify-content: start;
				gap: 50px;
			}
		}

		&__link {
			@include hover-opacity;
		}

		&__buttons-group {
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			@include mobile-only {
				@include visually-hidden;
			}
			gap: 20px;
		}

		&__login {
			@include hover-opacity;
		}

		&__signup {
			@include md {
				font-size: 12px;
			}
			@include lg {
				font-size: 17px;
			}
		}

		&__close {
			width: 32px;
			height: 24px;
			@include md {
				@include visually-hidden;
			}
		}

		// .header__close-bar
		&__close-bar {
			width: 100%;
			height: 2px;
			transition: all 1s ease;
			border-radius: 2px;
			background-color: $color-pppyi;

			&:nth-child(1) {
				position: absolute;
				top: 0;
				left: 50%;
				translate: -50% 0;

				.header__close[data-active] & {
					top: 50%;
					translate: -50% -50%;
					rotate: 45deg;
				}
			}

			&:nth-child(2) {
				@include abs-center;

				.header__close[data-active] & {
					opacity: 0;
				}
			}

			&:nth-child(3) {
				position: absolute;
				top: 100%;
				left: 50%;
				translate: -50% -100%;

				.header__close[data-active] & {
					top: 50%;
					translate: -50% -50%;
					rotate: -45deg;
				}
			}
		}
	}
}

