@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.hero {
    // .hero__subtitle
    &__subtitle {
        color: #201f1f;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        & .divider {
            background-color: #201f1f;
            @include md {
                background-color: rgba(32, 31, 31, 0.2);
            }
        }
        @include md {
            color: rgba(32, 31, 31, 0.2);
        }
    }
    // .hero__title
    &__title {
        font-family: Poppins;
        font-size: 43px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1.85px;
        text-align: center;
        @include md {
            width: 403px;
            font-size: 54px;
            letter-spacing: -2.13px;
            text-align: left;
        }
        @include lg {
            width: 567px;
            font-size: 75px;
            letter-spacing: -3px;
        }
    }
    // .hero__highlight
    &__highlight {
        color: #5c4eae;
    }
    // .hero__text
    &__text {
        font-family: Inter;
        font-size: 11px;
        font-weight: 400;
        text-align: center;
        color: #676767;
        opacity: 0.7;
        @include md {
            width: 355px;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            text-align: justify;
        }
        @include lg {
            width: 500px;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }
    }
    // .hero__bonus
    &__bonus {
        color: #5c4eae;
        font-weight: 500;
    }

    // .hero__rating
    &__rating {
    }
    // .hero__star
    &__star {
    }
    // .hero__stars
    &__stars {
    }
    // .hero__users
    &__users {
        color: rgba(51, 65, 85, 1);
        opacity: 0.7;
        font-family: Plus Jakarta Sans;
        font-size: 13px;
        font-weight: 500;
    }
}
