@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.hero {
    // .hero__subtitle
    &__subtitle {
        color: #201f1f;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        & .divider {
            background-color: #201f1f;
            @include md {
                background-color: rgba(32, 31, 31, 0.2);
            }
        }
        @include md {
            color: rgba(32, 31, 31, 0.2);
        }
    }
    // .hero__title
    &__title {
        font-family: Poppins;
        font-size: 46px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1.85px;
        text-align: center;
    }
    // .hero__highlight
    &__highlight {
        color: #5c4eae;
    }
    // .hero__text
    &__text {
        font-family: Inter;
        font-size: 11px;
        font-weight: 400;
        text-align: center;
        color: #676767;
    }
    // .hero__bonus
    &__bonus {
        color: #5c4eae;
        font-weight: 500;
    }

    // .hero__rating
    &__rating {
    }
    // .hero__star
    &__star {
    }
    // .hero__stars
    &__stars {
    }
    // .hero__users
    &__users {
    }
}
