@forward "divider";
@forward "button";
@forward "title";
@forward 'header';
@forward "hero";
@forward "features";
@forward "quality";
@forward "restaurants";
@forward "card";
@forward "menu-list";
@forward "view-all";
@forward "dishes";
@forward "card-s";
@forward "control";
@forward "dashboard";


