@use '../helpers' as *;

@layer components {
	.menu-list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		@include md {
			flex-wrap: nowrap;
			gap: 20px;
		}

		&__item {
			@include md {
				flex: 1;
			}
		}
	}

}


