@use '../helpers' as *;

@layer components {
	.quality {
		@include section-padding-block;

		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 100px;
			@include md {
				flex-wrap: nowrap;
				gap: 200px;
			}
			@include lg {
				gap: 230px;
			}
		}

		&__inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 35px;
			@include md {
				align-content: center;
				flex-basis: 540px;
				justify-content: start;
				order: 1;
			}
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			padding-left: 20px;
			list-style: disc;
			gap: 16px;
		}

		&__item {
			font-family: $second-family;
			font-size: 12px;
			color: $dim-text;
			@include md {
				font-size: 14px;
			}
			@include lg {
				font-size: 20px;
			}
		}

		&__button {
			position: relative;
			display: flex;
			align-items: center;
			gap: 10px;
			@include lg {
				gap: 15px;
			}

			&::before {
				position: absolute;
				top: 20px;
				left: -73px;
				width: 100px;
				height: 56px;
				content: url('/src/img/quality/quality__element-1.svg');
				@include md {
					top: unset;
					right: -3.9625rem;
					bottom: -3rem;
					left: unset;
					rotate: 252deg;
				}
				@include lg {
					right: -4.0625rem;
					bottom: -3.2rem;
				}
			}
		}

		&__phone-wrap {
			position: relative;
			align-self: start;

			&::before {
				position: absolute;
				display: block;
				width: 98%;
				height: 100%;
				left: 50%;
				translate: -50% 0;
				content: "";
				border-radius: 30px;
				box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
			}


			@include md {
				flex-basis: 214px;
				flex-shrink: 0;
			}

			&::after {
				position: absolute;
				top: -0.575rem;
				right: -1.975rem;
				width: 1.775rem;
				height: 23px;
				content: "";
				background-image: url('/src/img/quality/quality__element-2.svg');
				background-size: contain;
				@include md {
					top: -0.875rem;
					right: -2.175rem;
					width: 36px;
					height: 29px;
				}
				@include lg {
					top: -1.375rem;
					right: -3.175rem;
					width: 52px;
					height: 42px;
				}
			}

		}

		&__phone-img {
			@include md {
				width: 100%;
			}
		}
	}
}

