@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.quality {
    &__container {
    }
    &__title {
        @include md {
            width: 372px;
            text-align: start;
            font-size: 36px;
        }
        @include lg {
            font-size: 50px;
            width: 510px;
        }
    }
    &__info {
        @include md {
            flex-basis: 394px;
        }

        @include lg {
            flex-basis: 560px;
        }
    }
    &__list {
        list-style-type: disc;
        margin-left: 20px;
        font-family: $second-family;
        font-size: 11px;
        color: $dim-text;
        @include md {
            font-size: 14px;
            text-align: start;
        }
        @include lg {
            font-size: 20px;
        }
    }
    &__item {
        @include md {
        }

        @include lg {
        }
    }
    &__button {
        display: flex;
        column-gap: 13px;
        align-items: center;
        position: relative;
        padding: 10px 17px;
        &::before {
            content: url("/src/img/quality/quality__element-1.svg");
            position: absolute;
            top: 20px;
            left: -57px;
            width: 57px;
        }
        @include md {
            padding: 10px 22px;
            &::before {
                top: 10px;
                left: 167px;
                width: 61px;
                rotate: -100deg;
            }
        }

        @include lg {
            font-size: 18px;
            &::before {
                top: 26px;
                left: 167px;
                width: 87px;
            }
        }
    }
    &__phone {
        width: 170px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        @include md {
            flex-basis: 214px;
            &::before {
                border-radius: 35px;
            }
        }

        @include lg {
            flex-basis: 304px;
            &::before {
                border-radius: 60px;
            }
        }
    }
    &__phone-img {
        @include md {
        }

        @include lg {
        }
    }
    &__element {
        right: -9px;
        translate: 100% 0;
        top: -5px;
        @include md {
        }

        @include lg {
        }
    }
}
