@use '../helpers' as *;

@layer components {
	.rebate {
		position: relative;
		display: grid;
		margin-top: 80px;
		margin-bottom: 200px;
		padding: 35px 27px 95px;
		border-radius: 15px;
		background-color: $purple-bg;
		gap: 10px;
		justify-items: center;
		@include md {
			margin-top: 130px;
			margin-bottom: 150px;
			display: grid;
			padding: 26px 46px 43px;
			border-radius: 20px;
			background-image: url('@m/feedback/rebate__bg-decorations.svg');
			background-size: contain;
			justify-items: start;
		}
		@include lg {
			margin-top: 182px;
			margin-bottom: 216px;
		}

		&__title {
			font-size: 41px;
			font-weight: 800;
			opacity: 0.8;
			color: $white;
			@include md {
				font-size: 49px;
			}
			@include lg {
				font-size: 70px;
			}
		}

		&__form-container {
			display: flex;
			align-items: center;
			padding: 7px 7px 7px 14px;
			opacity: 0.8;
			border-radius: 10px;
			background: $white;
			box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.1);
			gap: 0 20px;
			@include md {
				padding: 5px 5px 5px 14px;
			}
			@include lg {
				padding: 7px 7px 7px 21px;
				border-radius: 14px;
			}
		}

		&__email-label {
			display: flex;
			align-items: center;
		}

		&__email-input {
			font-size: 10px;
			letter-spacing: 0.03em;
			text-transform: capitalize;
			color: $color-o3vye;
			@include md {
				font-size: 11px;
				width: 184px;
			}
			@include lg {
				font-size: 16px;
				width: 260px;
			}
		}

		&__button-input {
			font-size: 9px;
			font-weight: 500;
			padding: 10px 16px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $color-9kxtn;
			border-radius: 8px;
			background-color: $main;
			@include hover {
				@include hover-opacity;
			}
			@include md {
				font-size: 10px;
				padding: 10px 18px;
			}
			@include lg {
				font-size: 14px;
				padding: 16px 25px;
				border-radius: 11px;
			}
		}

		&__img {
			position: absolute;
			bottom: -103px;
			@include md {
				top: 45px;
				right: 51px;
				bottom: unset;
				width: 195px;
			}
			@include lg {
				top: 63px;
				right: 72px;
				width: 274px;
			}
		}
	}
}





