@use '../helpers' as *;

@layer components {
	.restaurants {
		@include section-padding-block;

		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
			@include md {
				flex-wrap: wrap;
			}
		}

		&__title {
			max-width: 250px;
			text-align: center;
			@include md {
				max-width: unset;
			}
		}
	}
}

