@use "/src/sass/helpers/media" as *;
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/variables" as *;

.title {
    width: 281px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: $gunmetal-text;
    span {
        color: $main;
    }
    @include md {
        width: auto;
    }
    @include lg {
        font-size: 45px;
    }
}
