@use "/src/sass/helpers/variables.scss";
@use "/src/sass/helpers/mixins" as *;
@use "/src/sass/helpers/media" as *;

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 0 100px;

    // .header__link
    &__link {
        @include hover {
            opacity: 0.7;
        }
    }
    // .header__button
    &__button {
        border-radius: 18px;
        padding-block: 17px;
        padding-inline: 26px;
        width: 100%;
        background: var(--secondary);

        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;
        color: var(--white);
    }
}
